<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average Temperature</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Latest Forecast</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('list_locations') }}">Locations</a></li>
                <li><a href="{{ url_for('average_temp') }}">Average Temperature</a></li>
                <li><a href="{{ url_for('top_locations') }}">Top Locations</a></li>
            </ul>
        </nav>
    </header>
        <main>
        <h2>Latest Forecasts</h2>
        <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Coordinates</th>
                <th>Average Temperature (&#8451;)</th>
            </tr>
        </thead>
        <tbody>
            {% for average in averages %}
            <tr>
                <td>{{ average.Date }}</td>
                <td>{{ average.Coordinates }}</td>
                <td>{{ average['Average Temp'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
</body>
</html>
